kind: LDAPSyncConfig
apiVersion: v1
url: ldap://{{dxc_domain}}:389
bindDN: "CN=openshift,CN=Users,{{my_dxc_dn}}"
bindPassword: "{{my_openshift_ldap_password}}"
insecure: true
augmentedActiveDirectory:
    groupsQuery:
        baseDN: "OU=Groups,OU=Openshift,{{my_dxc_dn}}"
        scope: sub
        derefAliases: never
        pageSize: 0
    groupUIDAttribute: dn
    groupNameAttributes: [ cn ]
    usersQuery:
        baseDN: "CN=Users,{{my_dxc_dn}}"
        scope: sub
        derefAliases: never
        filter: (objectClass=user)
        pageSize: 0
    userNameAttributes: [ sAMAccountName ]
    groupMembershipAttributes: [ "memberOf" ]
